@import 'code-highlighting';

article {
  font-size: 20px;

  img {
    width: 100%;
  }

  ul {
    margin-left: 20px;
  }

  h1, h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  h1, h2, h3, h4 {
    margin-bottom: 15px;
    margin-top: 15px;

    font-weight: normal;
  }

  a, p, li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    word-break: break-word;
  }

  strong {
    font-weight: 500;
  }

  p {
    margin-bottom: 13px;

    code {
      font-family: 'JetBrains Mono', monospace;
      background-color: #eee;
      border-radius: 3px;
      padding: 0 2px;
    }
  }

  pre {
    padding-bottom: 10px;
    padding-top: 10px;

    span {
      font-family: 'JetBrains Mono', monospace;
    }

    code {
      &::-webkit-scrollbar {
        width: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background: lighten(rgb(23, 23, 27), 40);
        border: 5px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;
      }

      font-size: 16px;

      font-family: 'JetBrains Mono', monospace;
      border-radius: 9px;
    }

    margin-bottom: 10px;
    margin-top: 10px;
  }

  blockquote {
    margin: 0;

    p {
      padding: 15px;
      background: #eee;
      border-radius: 5px;
    }
  }
}
