$headerHeight: 60px;

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px 0;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  height: $headerHeight;

  a {
    text-decoration: none;
    color: white;
  }
}

.logo {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;

  padding-left: 30px;
}

.header-buttons-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  a {
    margin-left: 30px;
  }
}
