.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  padding: 8px;
  border-radius: 18px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 150ms;

  &:hover {
    background-color: #f5f5f5;
  }
}
