@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$maxWidth: 800px;

* {
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;

  background-image: url('@assets/grain.svg');
  background-size: cover;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  width: 60%;

  display: flex;
  flex-direction: column;

  padding: 36px;

  background-color: #fff;
  border-radius: 30px;

  -webkit-box-shadow: 0 12px 24px 15px rgba(29, 77, 221, 0.5);
  -moz-box-shadow: 0 12px 24px 15px rgba(29, 77, 221, 0.5);
  box-shadow: 0 12px 24px 15px rgba(29, 77, 221, 0.5);

  h1, h2 {
    font-weight: 500;
    margin-bottom: 15px;
  }

  @media (max-width: $maxWidth) {
    width: 100%;
    box-sizing: border-box;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;

  .copyright {
    margin: 0 0 20px;
    padding: 0;
    font-size: 14px;
    color: #fff;
    user-select: none;
  }
}

a {
  text-decoration: none;
  color: rgb(29, 77, 225);
}
